core
*.ply
*.pdf
*pt*
*.pyc
*.sh
*.log
*.jpg
*.png
*.npz
*.npy
*.pkl
*.mp4
*.gif
*.swp
*.DS_Store*
*.obj
*.ply
*.json
*.blend
*.blend*
*.mp4*
*.webm
*.mkv
*.rrd
*.nfs*
*.tar
*.txt
human_body_prior/
chois_single_window_results/
chois_train/
data/
wandb/
chois_release/
processed_data/